* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    display: flex;
    margin-top: 55px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
} 

button {
    display: flex;
    margin: auto;
    margin-top: 10px;
}

h3 {
    display: flex;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}